.form-card{   
   position: relative;
     width: 400px; /*el tamanio de width sera de 400 px*/
     padding: 32px; /*el tamanio de los elementos dentro tendran un margen de 32 px*/
     border-radius: 20px; /*Sera redondeado y no cuadrado*/
     background: var(--surface-glass);
     color: var(--surface-text);
     backdrop-filter: blur(8px);
     border: 1px solid var(--surface-line);
     inset: 2;
     box-shadow: var(--shadow-strong);
}

